<template>
<v-app>
 
<v-parallax  height="200" class="tol">


  <h1>Weather in Erfurt</h1>
</v-parallax>

<v-parallax src="back.jpg" height="600">
   
<v-flex sm3 offset-sm2 class="black--text">
  
<v-btn depressed small round color="primary" class="btn1" @click="changeToMetric()">°C</v-btn>
 
<v-btn depressed small round color="primary" class="btn2" @click="changeToImperial()">°F</v-btn>
</v-flex >
  <div class="line">
  <ve-line :data="chartData" :settings="chartSettings"></ve-line>
 
  
</div>
  
</v-parallax>
<v-parallax height="60" class="foot">
  <h1>Line Graph</h1>
</v-parallax>
 
</v-app>
</template>

<script>

import VeLine from "v-charts/lib/line.common";
import axios from "axios";
import moment from "moment";
export default {
   components: { VeLine },

  data() {
    return {
      chartSettings: {
        axisSite: { right: ["day"] },
        yAxisType: ["tempture"],
        yAxisName: ["°C"],
        units: "metric",
        zoom: {
              enabled: true
            },

        stack: { Tempture: ["Max","Min"] },
        area: true
      },
      chartData: {
        columns: ["day", "Min", "Max", ],
        rows: [
          { day: "Monday", Min: "12", Max: "32" },
          { day: "Tuesday", Min: "15", Max: "27" },
          { day: "Wednesday", Min: "13", Max: "27" },
          { day: "Thrusday", Min: "10", Max: "15" },
          { day: "Friday", Min: "13", Max: "20" },
          { day: "Saturday", Min: "12", Max: "15" },
          { day: "Sunday", Min: "15", Max: "26" }
        ]
      }
    };
  },
  mounted(){
 
                  axios
                   .get("https://api.openweathermap.org/data/2.5/forecast", {

                     params: {
          q: "Erfurt",
         appid: "81a3c78f0eba62cadeb37e4b24ba2e3d",
          units:"metric", 
          
        }

                   })

                    .then(response => {
        let rows = [];
        for (let i = 0; i < response.data.list.length; i++) {
          rows.push({
            day: moment(new Date(response.data.list[i].dt_txt)).format("MMM Do HH:mm"),
            
            Max: response.data.list[i].main.temp_max,
            Min: response.data.list[i].main.temp_min,
            
          });
        }
        this.$set(this.chartData, "rows", rows);
        //console.log(response.data, rows);
      //  console.log(response.chartData,rows);
      });
  },
   
   methods: {
  
      changeToImperial: function() {
       axios
                   .get("https://api.openweathermap.org/data/2.5/forecast", {

                     params: {
          q: "Erfurt",
         appid: "81a3c78f0eba62cadeb37e4b24ba2e3d",
          units:"Imperial",
          
        }

                   })

                    .then(response => {
        let rows = [];
        for (let i = 0; i < response.data.list.length; i++) {
          rows.push({
            day: moment(new Date(response.data.list[i].dt_txt)).format("MMM Do HH:mm"),
            
            Max: response.data.list[i].main.temp_max,
            Min: response.data.list[i].main.temp_min,
            
          });
        }
        this.$set(this.chartData, "rows", rows);
        
        this.chartSettings.yAxisName= ["°F"];
              //console.log(response.data, rows);
      //  console.log(response.chartData,rows);
      });
    },
    changeToMetric: function() {
      axios
                   .get("https://api.openweathermap.org/data/2.5/forecast", {

                     params: {
          q: "Erfurt",
         appid: "81a3c78f0eba62cadeb37e4b24ba2e3d",
          units:"metric", 
          
        }

                   })

                    .then(response => {
        let rows = [];
        for (let i = 0; i < response.data.list.length; i++) {
          rows.push({
            day: moment(new Date(response.data.list[i].dt_txt)).format("MMM Do HH:mm"),
            
            Max: response.data.list[i].main.temp_max,
            Min: response.data.list[i].main.temp_min,
            
          });
        }
        this.$set(this.chartData, "rows", rows);
        this.chartSettings.yAxisName= ["°C"];
        //console.log(response.data, rows);
      //  console.log(response.chartData,rows);
      });
    }
   }
}
  

  

</script>
<style>
.tol
  {
    text-align: center;
    background-color: teal;
    font-size:300%;
    padding-left:7%;
  }
  .tol1
  {
    background-color: teal;
    padding-left: 15%;width: 20px;

  }
  .foot
   {
     text-align: center;
     background-color:#424242;
     font-size:200%;
   }
   .btn1
   {
      padding-left: 5pt;
      font-style: normal;
      border: none;
   }
   .btn2
   {
     padding-left: 5pt;
     font-style: normal;
     
   }
   .line
   {
     padding-left: 15%;
   }
   .bb
   {
    width: 10;
     text-decoration-color: black;
     height:10;
   }
   </style>
