<template>

  <v-app  >
   
   
  
   <v-parallax src="test.png" height="300">
     
    
   </v-parallax>
   
  
  
     <v-parallax  src="fk.jpg" height="700 " class="black">
        
 <!--<v-flex xs6>
      <v-flex sm3 offset-sm2  class="my-5">-->
       
             <br /><br /><br /><br /><br /><br /><br />
          <v-flex offset-sm2  >
<v-card-title>
  
         
             <div  class="text-xs-center white--text">
            <h1 class="blue-grey darken-4-text">{{$t('checkout')}}</h1>
          <br /><br />
            <h3>{{$t('climate')}}</h3>
            </div>
          </v-card-title>
          
        
         
<!--</v-flex> 

   </v-flex>   
      
      <v-flex xs6>-->

    
     <v-flex height="100%"  sm3 offset-sm4  >
         <v-hover>
        <v-card height="90%"   slot-scope="{ hover }"
        :class="`elevation-${hover ? 12 : 2}`"
        class=" rounded-card"
         >
        
            
                <div id="app" class="text-xs-center white--text">
    <h1 >{{$t('links')}}</h1>
    <h2 >BERLIN</h2>
    
   <v-img
                src="erfurt.jpg"
                height="125"
                class="grey darken-4"
              ></v-img>
 <h3>{{$t('des')}}</h3>{{infos.weather[0].description}}
 <h3> TEMP:</h3>{{infos.main.temp}} °C
 <h3> TEMP_MIN:</h3>{{infos.main.temp_min}} °C

   <h3> TEMP_MAX:</h3>{{infos.main.temp_max}}    °C   
   
   <v-card-title>
        <v-card-action></v-card-action>

        </v-card-title>
</div>
             
        
          
          
        </v-card>
        </v-hover>
      </v-flex>
      </v-flex>

      <br /><br /><br /><br />
       <v-flex offset-sm2  >
<v-card-title>
  
         
             <div  class="text-xs-center white--text">
            <h1 class="blue-grey darken-4-text">{{$t('plugins')}}</h1>
          <br /><br />
             <h3>{{$t('barchart')}}</h3>
            </div>
          </v-card-title>
          
        
         
<!--</v-flex> 

   </v-flex>   
      
      <v-flex xs6>-->

    
     <v-flex height="100%"  sm3 offset-sm4  >
         <v-hover>
        <v-card height="90%"   slot-scope="{ hover }"
        :class="`elevation-${hover ? 12 : 2}`"
        class=" rounded-card"
         >
        
            
                <div id="app" class="text-xs-center white--text">
    <h1 >{{$t('plugins')}}</h1>
   
    
   <v-img
                src="barrr.jpg"
                height="125"
                class="pink"
              ></v-img>
  <GChart
    type="ColumnChart"
    :data="chartData"
    :options="chartOptions"
  />
   <v-card-title>
        <v-card-action></v-card-action>

        </v-card-title>
</div>
             
        
          
          
        </v-card>
        </v-hover>
      </v-flex>
      </v-flex>



   
        
<br /><br /><br />
 <v-flex ><p class="text-xs-right white--text darken-2 blue-grey darken-4--text display-4">{{$t('ecosystem')}} </p></v-flex>

     </v-parallax>


     
    
  
     
   
    
   
 
     <v-footer
      dark
      height="auto"
    >
      <v-card
        class="flex"
        flat
        tile
      >
       
        <v-card-title class="blue-grey darken-4">

         
     
          <v-spacer></v-spacer>
   <a href="#" @click="setLocale('en')" ><flag  iso="us"></flag></a>
     &nbsp;&nbsp;&nbsp;
       <a href="#" @click="setLocale('de')"><flag iso="de"></flag></a>
          <v-btn
            v-for="icon in icons"
            :key="icon"
            class="mx-1"
            dark
            icon
          >
          
            <v-icon size="24px">{{icon}}</v-icon>
          </v-btn>
        </v-card-title>
  
        <v-card-actions class="teal lighten-5 justify-center black--text">
          &copy;2019 — <strong>Weather</strong>
        </v-card-actions>
      </v-card>
         
     
   
    </v-footer>
 
  </v-app>
 
</template>


<script>

 
 import axios from 'axios'
import { GChart } from 'vue-google-charts'

export default {
 components:{
   GChart

 },
 methods:{
setLocale(locale){
  this.$i18n.locale = locale
}},
  data() {
    return {
       infos:[],
      
       drawer: false,
      
       
      
     
      
      icons: [
      'mail_outline',
      'contacts',
      'fa-google-plus',
      'fa-linkedin',
      'fa-instagram'
    ],
    chartData: [
        ['Year',  'High', 'Low'],
        ['2014',  400, 200],
        ['2015',  460, 250],
        ['2016',  1120, 300],
        ['2017',  540, 350]
      ],
      chartOptions: {
        chart: {
          title: 'Company Performance',
          subtitle: ' High, and Low: 2014-2017',
        }
      },
    

     messages: [
      {
        avatar: 'avaaa.png',
        
      },
      
    ],
    lorem: 'KanwalJeet kaur Email:kanwaljeetmaan@gmail.com ',
     messagess: [
      {
        avatar: 'ava.png',
        
        
      },
      
    ],
    
    hello: 'Tehreen Rahman Email:Rahman@gmail.com',
        
            };
        },
         mounted () {
    axios
      .get('http://api.openweathermap.org/data/2.5/weather?q=Berlin&units=metric&APPID=dabfbd588f3e6e3396d70f625324dc3f')
      .then(response => {this.infos = response.data;
      axios
       });
       },
     
     
      
       
        
}
</script>
<style>
  .rounded-card
       {
    border-radius:50px;
   background-image: url('../idk.jpg');
}

       
</style>

