<template>
<v-app>
 
<v-parallax  height="200" class="tol">


  <h1>Weather in Erfurt</h1>
</v-parallax>

<v-parallax src="back.jpg" height="600">
  
<v-flex sm3 offset-sm2 class="black--text">
  
<v-btn depressed small round color="primary" class="btn1" @click="changeToMetric()">°C</v-btn>
 
<v-btn depressed small round color="primary" class="btn2" @click="changeToImperial()">°F</v-btn>
</v-flex >
<div class="bar">
  <GChart
    type="ColumnChart"
    :data="chartData"
    :options="chartoptions"/> 
</div>
</v-parallax>
<v-parallax height="60" class="foot">
  <h1>Bar Graph</h1>
</v-parallax>
 
</v-app>
</template>

<script>

import { GChart } from "vue-google-charts";
import axios from "axios";
import moment from "moment";
export default {
   components: { GChart },

  data() {
return {

   chartoptions:{
        height:450,
        axisSite:{right:["day"]},
        yAxisType:["tempture"],
        yAxisName:["°c"],
        units:"metric",
        stack: { Tempture: ["Min", "Max"] },
        chartArea: {
       
         backgroundColor: {
        fill:'#424242',
        fillOpacity: 0.8
       },
      },

        
      },
     
     chartData:[
       
        ['day', 'Max', 'Min'],
        ['Monday', 15, 20],
        ['tuesday', 11, 13],
        ['wednesday', 6, 11],
        ['thrusday', 10, 20],
        ['Friday', 14, 20],
        ['Saturday', 12,15],
        ['Sunday', 12, 17]
     ],
      
      /* chartoptions:{
        height:450,
        axisSite:{right:["day"]},
        yAxisType:["tempture"],
        yAxisName:["°c"],
        stack: { Tempture: ["Min", "Max"] },
        chartArea: {
       
         backgroundColor: {
        fill:'#424242',
        fillOpacity: 0.8
      // },
      },

        
      }*/

      
  
      }
    
  
},

      
  created(){
             // console.log("chartdata" +this.chartData);
                  axios
                   .get("https://api.openweathermap.org/data/2.5/forecast", {

                     params: {
          q: "Erfurt",
         appid: "81a3c78f0eba62cadeb37e4b24ba2e3d",
          units:"metric", 
          
        }

                   })

                    .then(response => {
        let rows = [['day', 'Max', 'Min']];
        
        for (let i = 0; i < response.data.list.length; i++) {
          rows.push([
             moment(new Date(response.data.list[i].dt_txt)).format(" dd HH:mm"),
            
            response.data.list[i].main.temp_max,
            response.data.list[i].main.temp_min
          ]);
        }
          this.chartData = rows;
        //console.log(response.data, rows);
      //  console.log(response.chartData,rows);
      });
  },
   
   methods: {
  
      changeToImperial() {
         axios
      .get("https://api.openweathermap.org/data/2.5/forecast", {
        params: {
          q: "Erfurt",
          units: "Imperial",
          appid: "81a3c78f0eba62cadeb37e4b24ba2e3d"
        }
      })
      .then(response => {
        let rows = [['day', 'Max', 'Min']];
        
        for (let i = 0; i < response.data.list.length; i++) {
          rows.push([
             moment(new Date(response.data.list[i].dt_txt)).format(" dd HH:mm"),
            
            response.data.list[i].main.temp_max,
            response.data.list[i].main.temp_min
          ]
            
            
          );
        }
       //  this.$set(this.chartData, rows);
        this.chartData = rows;
        
      this.chartoptions.yAxisName=["°F"];

       // console.log(response.data, rows);
        //console.log("new data " + this.chartData);
      });
    },
    changeToMetric() {
      axios
      .get("https://api.openweathermap.org/data/2.5/forecast", {
        params: {
          q: "Erfurt",
          units: "Metric",
          appid: "81a3c78f0eba62cadeb37e4b24ba2e3d"
        }
      })
      .then(response => {
        let rows = [['day', 'Max', 'Min']];
        
        for (let i = 0; i < response.data.list.length; i++) {
          rows.push([
             moment(new Date(response.data.list[i].dt_txt)).format(" dd HH:mm"),
            
            response.data.list[i].main.temp_max,
            response.data.list[i].main.temp_min
          ]
            
            
          );
        }
       //  this.$set(this.chartData, rows);
        this.chartData = rows;
        
      this.chartoptions.yAxisName=["°C"];

       // console.log(response.data, rows);
        //console.log("new data " + this.chartData);
      });
    }
   }
}

  

  

</script>
<style>
.tol
  {
    text-align: center;
    background-color: teal;
    font-size:300%;
    padding-left:7%;
  }
  .tol1
  {
    background-color: teal;
    padding-left: 15%;width: 20px;

  }
  .foot
   {
     text-align: center;
     background-color:#424242;
     font-size:200%;
   }
   .btn1
   {
      padding-left: 5pt;
      font-style: normal;
      border: none;
   }
   .btn2
   {
     padding-left: 5pt;
     font-style: normal;
     
   }
   .bar
   {
     padding-left: 15%;

     
   }
   .bb
   {
     width:50px;
     
     background-color:black;
     height:30;
   }

   </style>
