p<template>

  <v-app id="inspire" >
   
   
  
   
  
   <div height="100%"></div>
  <v-navigation-drawer width="200" permanent app v-model="drawer"  class="blue-grey darken-4" >



    <v-list class="white--text darken-4 pa-0">
      <br /> <br />
      <p class="display-2">Weather</p>
        <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
        
          <v-list-tile-content >
         <router-link :to=link.name> <v-list-tile-title >{{link.text}}</v-list-tile-title></router-link>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      
      
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
     
     <v-layout
      column
      justify-center
    >
      <v-subheader class="white--text">We!</v-subheader>
  
      <v-expansion-panel popout>
        <v-expansion-panel-content class="lime lighten-2"
          v-for="(message, i) in messages"
          :key="i"
          hide-actions
        >
          <template class="teal lighten-1" v-slot:header>
            Kanwal Maan..
            <v-layout
              align-center
              row
              spacer
            >
             
                <v-avatar
                  size="60px"
                >
                  <img
                    v-if="message.avatar"
                    src="avaaa.png"
                    alt="Avatar"
                  >
                 
                </v-avatar>
             
  
            </v-layout>
            
          </template>
  
          <v-card>
            <v-divider></v-divider>
            <v-card-text v-text="lorem"></v-card-text>
            
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-layout>


 <v-expansion-panel popout>
        <v-expansion-panel-content class="indigo lighten-3"
          v-for="(message, i) in messagess"
          :key="i"
          hide-actions
        >
          <template class="teal lighten-1" v-slot:header>
           Tehreen
             
                <v-avatar
                  size="60px"
                >
                  <img
                    v-if="message.avatar"
                    src="ava.png"
                    alt="Avatar"
                  >
                 
                </v-avatar>
             
  
            
           
          </template>
  
          <v-card>
            <v-divider></v-divider>
            <v-card-text v-text="hello"></v-card-text>
            
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    






 </v-navigation-drawer>
   <router-view/>
 
  </v-app>
 
</template>

<style>

</style>

<script>

 



export default {
 components:{
  

 },
  data() {
    return {
       infos:[],
      
       drawer: false,
      
       
      
      links:[
         {icon:'home',text:'Home',route:'/',name:'Home'},
        {icon:'dashboard',text:'LineChart',route:'/LineChart',name:'LineChart'},
        
        {icon:'person',text:'BarChart',route:'/BarChart',name:'BarChart'},
      ],
      
      icons: [
      'mail_outline',
      'contacts',
      'fa-google-plus',
      'fa-linkedin',
      'fa-instagram'
    ],
    

     messages: [
      {
        avatar: 'avaaa.png',
        
      },
      
    ],
    lorem: 'KanwalJeet kaur Email:kanwaljeetmaan@gmail.com ',
     messagess: [
      {
        avatar: 'ava.png',
        
        
      },
      
    ],
    
    hello: 'Tehreen Rahman Email:Rahman@gmail.com',
        
            };
        },
        
    
       methods:{
Surfing(element)
{
this.$router.push(element);

}
       }
     
      
       
        
};
</script>


